<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet>
		<servlet-name>geoportal.gps.servlet.JpegServlet</servlet-name>
		<servlet-class>geoportal.gps.servlet.JpegServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>geoportal.gps.servlet.JpegServlet</servlet-name>
		<url-pattern>/jpg</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>geoportal.gps.servlet.KmlServlet</servlet-name>
		<servlet-class>geoportal.gps.servlet.KmlServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>geoportal.gps.servlet.KmlServlet</servlet-name>
		<url-pattern>/kml</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>geoportal.gps.servlet.KmzServlet</servlet-name>
		<servlet-class>geoportal.gps.servlet.KmzServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>geoportal.gps.servlet.KmzServlet</servlet-name>
		<url-pattern>/kmz</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>geoportal.gps.servlet.OsmTilesServlet</servlet-name>
		<servlet-class>geoportal.gps.servlet.OsmTilesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>geoportal.gps.servlet.OsmTilesServlet</servlet-name>
	<url-pattern>/tile/*</url-pattern>
	</servlet-mapping>
</web-app>
  